.git
.github
.gemini
.env
.venv
venv
ENV
env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints
local_data/
.jekyll-cache/
.sass-cache/
batch_filter_outputs_uf20
batch_test_outputs